header{
    display:flex;
    top:0;
    justify-content: space-around;
    align-items: center;
    height: fit-content;
    background:linear-gradient(to top,red,orange);
    
}
body{
    font-family: 'Courier New', Courier, monospace;
}
button{
    padding: 10;
    width: 90px;
    height:30px;
    font-size: 20px;
}
.container{
    display: flex;
    height:90vh;
    background-image: url("/10081437.jpg");
    background-size: cover;
    justify-content: center;
    align-items: center;
}
.cards{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    gap: 40px;
    transform-style: preserve-3d;
    perspective: 500px;

}
.card{
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;
    background-color: red;
    font-size: 50px;
    height: 113px;
    width: 80px;
    border-radius: 10px;
    transition: 0.25s;
    transform: rotateY(180deg);
    z-index: 4;
    
}
.card::after{
    content:'';
    position: absolute;
    inset: 0;
    background-image:url("card.png");
    background-size: cover;
    background-repeat: none;
    transition:0.25;
    border-radius: 10px;
    transform:rotateY(0deg);
    backface-visibility: hidden;
    z-index: 4;
}
.card.boxopen{
    transform: rotateY(0deg);
}
.boxopen::after{
    transform:rotateY(180deg)
}
.popup{
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index:4;
}
.popup-content {
    background: white ;
    padding:20px;
    border-radius: 10px;
    text-align:center;
    width: 300px;
    box-shadow:0 0 15px rgba(0,0,0,0.3) ;
}