body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:100vh; 
    font-family:cursive,sans-serif; 
    background-color: #0b392f;  
}
.container{
 display:grid;
 justify-content: center;
 align-items: center;
 grid-template-rows: repeat(4,1fr);
 gap: 50px;
 background-color:#0d614e;
 padding: 50px;
 width: 600px;
 height: 500px;
 font-size: 20px;
 border-radius: 60px;
 text-align: center;
 color: #fff;
}
.container h1{
    font-size:50px;
}
#words{
    font-style: italic;
    letter-spacing: 7px;
}
.info-down {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
    width: 100%;
    font-size: 20px;
    color: #fff;
}
#reset{
    position: relative;
    top:10px;
    left:30px;
    width: 130px;
    font-size: 20PX;
    padding: 15px;
    width: 110px;
    background-color: tomato;
    border-radius: 20px;
    color: #fff;
    font-family: cursive,sans-serif;
}